flask
flask-cors
python-dotenv
firebase-admin
openai-whisper==20231117
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0+cpu
torchaudio==2.1.0+cpu
soundfile
pydub
gunicorn
psutil
numpy
